body{
    margin: 0;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
h2::first-letter{
    color: red;
}
.list{
    list-style-type: none;
    padding: 0;
    
}
.list li{
    margin-bottom: 20px;
}
.style{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li .style::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: red;
    margin-right: auto;
    display: block;
}
li .style:hover::after{
    width: 6%;
    transition: width 0.3s linear;
}
li .style:hover{
    color: red;
}
#butt{
    line-height: 12;
    text-align: center;
}
.B{
    background-color: rgb(184, 35, 35);
    color: bisque;
    border-radius: 12px;
    padding: 10px 20px ;
    border-color: transparent;
    /* word-spacing: 4px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.B:hover{
    background-color: rgb(236, 32, 17);
    padding: 15px 30px;
    transition: 0.3s;
    font-size: 17px;
}
h2 span{
    color: red;
}

.first{
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}

/* position
values: absolute, relative, fixed, sticky, static.



*/

.fixed{
    position: fixed;
    background-color: red;
    height: 50px;
    width: 90px;
    margin-bottom: 50px;
    bottom: 0;
    right: 0;
    text-align: center;
}
.nav{
    position: sticky;
    border: 1px solid red;
    background: black;
    top:0;
}

.nav .style{
    color: white;
}

.relative{
    width: 100%;
    height: 100px;
    border: 1px solid yellow;
    position: relative;
    text-align: center;
    z-index: -1;
}
.absolute{
    width: 30%;
    height: 50px;
    border: 1px solid blue;
    position: absolute;
    top: 30%;
    left: 30%;
    text-align: center;
}

/* Display
values: block, none, flex, grid, inline, inline-block, inline-flex
*/
/*visibility
values: hidden, visible 
 */

#display-none{
    display: none;
}

.flex-parent{
    width: 50%;
    height: 250px;
    background-color: black;
    margin: 30px 0;
    display: flex;
    flex-direction: row; 
    /* column, row, row-reverse, column-reverse */
    align-items: center;
    /* center, flex-end, flex-start */
    justify-content:space-around;
    /* center, flex-start, flex-end, space-between, space-around, space-evenly */

    /* other properties are: align-content, justify-self */
}
.children{
    width: 50px ;
    height: 50px;
}
#a{
    background-color: aquamarine;
}
#b{
    background-color: red;
}
#c{
    background-color: brown;
}
#d{
    background-color: yellow;
}
#e{
    background-color: rgb(20, 14, 26);
}

.parent{
    width: 50%;
    height: 100px;
    background-color: yellow;
    overflow: scroll;
    margin: 50px 0;
}
.overflow{
    width: 30%;
    height: 300px;
    background-color: black;
}
.z-index{
    width: 30%;
    height: 50px;
    overflow: hidden;
    background: red;
    overflow-wrap: break-word;
}